* {
    box-sizing: border-box;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

p {
    font-weight: 300 !important;
    font-size: 90%;
    color: #747474;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}

/*header*/

header {
    width: 100%;
    height: auto;
    position: relative;
}

.top {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0);
    z-index: 100;
    transition: .2s;
    
}

.logo,.btn{
    color: rgb(255, 255, 255);
}

.top.scrolled {
    background-color: rgba(255, 255, 255);
}

.top.scrolled .logo,
.top.scrolled .btn{
    color: rgb(0, 0, 0);
}


.none.scrolled {
    background-color: black;
    color: white;
}

.logo {
    font-weight: bold;
    font-size: 120%;
    text-decoration: none;
}



.top .btns {
    right: 0;
    display: flex;
    justify-content: space-around;
    width: 500px;
    cursor: pointer;
    align-items: center;
}

.btn {
    
    position: relative;
    display: inline-block;
    text-decoration: none;
    
}

.btn::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    transition: width .3s ease;
    background-color: rgb(0, 89, 255);
    transform: translateX(-50%);
}

.btn:hover::after {
    width: 100%;
}

.btns button {
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
}

.hide{
    display: none;
}

#input{
    display: none;
}

.border{
    position: absolute;
    width: 30px;
    height: 5px;
    background-color: white;
}

.one{
    top: 60%;
    transform: translateX(-50%);
    right: 5%;
}

.two{
    top: 50%;
    transform: translateX(-50%);
    right: 5%;
}

.three{
    top: 40%;
    transform: translateX(-50%);
    right: 5%;
}

.none {
    border: none;
}

.none:hover {
    background-color: rgb(0, 140, 255);
    color: white;
}

.hidebtns{
    display: none;
}

/*トップイメージのところ*/

.mainimg {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    filter: brightness(50%);

}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.cir {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(73, 73, 73);
    width: 250px;
    padding: 10px;
    border-radius: 44px;
    border: solid 1px gray;
}



.serch {
    background-color: rgb(0, 140, 255);
    color: white;
    margin-right: 10px;
    border: none;
}

.serch:hover {
    background-color: white;
    color: black;
}

.wrap {
    display: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    z-index: 100;
}

.wrap.open {
    display: block;
}

.mission {
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: solid 1px white;
}

.mission-content {
    display: none;
    background-color: white;
    color: black;
    position: fixed;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    width: 30%;
    height: 30%;
    transform: translate(-50%, -50%);
    padding: 30px 60px;
}

.mission-content.open {
    display: block;
}

.mission-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.close{
    padding: 15px 20px;
    background-color: white;
    border-radius: 10px;
    border: solid .5px #4f4f4f;
}

/*私たちについてのところ*/

#about {
    display: flex;
    justify-content: space-around;
    margin: 50px 5%;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.right {
    width: 50%;
}

.number {
    width: 80%;
    display: flex;
    justify-content: space-between;
}

.blue {
    color: rgb(0, 119, 255);
}

.big {
    font-weight: bold;
    font-size: 200%;
}

#about img {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

/*ベルトコンベアみたいなやつ*/
.move-content {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    margin: 30px 0px;
}

.belt {
    position: relative;
    display: flex;
    width: 100%;
}

.move {
    color: #808080;
    width: max-content;
    display: flex;
    position: absolute;
    left: 0;
    animation: move 40s linear infinite;
}

.move.clone {
    animation-delay: -20s;
}

.move img {
    flex-shrink: 0;
    height: 40px;
    padding: 0 80px;

}

@keyframes move {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/*専門分野*/

#field {
    
    padding: 5% 5%;
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(231, 231, 231);
}

.contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.text {
    width: 100%;
    margin-bottom: 30px;
}

.text h2{
    margin-bottom: 20px;
}

.inner-content {
    width: 30%;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    transition: .2s;
}

.inner-content:hover {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}

.inner-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
    height: 200px;
}

.inner-content img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*インサイト*/
#insite {
    padding: 5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 700px;
}

.insite-contents {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.insite-content {
    width: 30%;
}

.insite-content img {
    object-fit: cover;
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
}

/*フォーム*/

#form {
    width: 100%;
    height: 600px;
    background-color: rgb(231, 231, 231);
    display: flex;

    justify-content: space-around;
    padding: 30px;
}

.form-content {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-content.right {
    height: 100%;
    
    align-items: center;
}

.a {
    display: flex;
    align-items: center;
}

.mark {
    border-radius: 50%;
    background-color: gainsboro;
    padding: 10px;
    margin-right: 5px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-area {
    background-color: white;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    box-shadow: 1px 1px 3cqi rgb(177, 177, 177);
}

.dev {
    width: 100%;
}

.form-area input {
    border: solid 1px rgb(187, 185, 185);
    width: 100%;
    padding: 10px;
}

.form-area input.big {
    padding-bottom: 150px;
    font-size: 80%;
}

.form-area button {
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px 0;
    border-radius: 10px;
    border: none;
    transition: .2s;
}

.form-area button:hover {
    background-color: rgb(0, 81, 255);
}



/*フッター*/
footer {
    background-color: black;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-contents{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding:  50px;
    width: 80%;
}

.footer-content{
    width: 20%;
    
}

footer h3{
    color: white;
}

footer p{
    padding: 20px 0px;
}

.hover:hover{
    color: white;
    transition: .2s;
}

.marks{
    margin-top: 20px;
    display: flex;
}

.gray{
    background-color: #353535;
}

.gray:hover{
    background-color: rgb(0, 89, 255);
    transform: translateY(-10%);
    transition: .2s;
}

.bottom{
    width: calc(80% - 100px); /* 左右50pxずつ */
    display: flex;
    justify-content: center;
    border-top: solid 1px  #4f4f4f;   
}

@media screen and (max-width:480px){
    body{
        width: 100%;
        
    }

    .top{
        padding: 0 15px;
        width: 100%;
    }

    .hidebtns{
        display: flex;
        position: fixed;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 100px;
        flex-direction: column;
        background-color: white;
        transform: translateX(100%);
        transition: .3s;
        z-index: 99;
        padding: 20px;
        box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
    }
    
    .hidentns.active{
        transform: translateX(0%);
        
    }

    
    .hide{
        display: block;
    }

    .border.scrolled{
        background-color: black;
    }
    
    .cir{
        width: 80%;
        font-size: 80%;
    }

    .big{
        width: 30%;
    }

    .content{
        
        width: 95%;
        
    }

    .mission-content{
        width: 95%;
        height: auto;
        padding: 30px;
    }


    .number{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    #about,#field,#insite,#form{
        height: auto;
    }

    #about ,.contents,.insite-contents,#form,.footer-contents{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #about{
        min-height: 600px;
    }

    .move img{
        padding: 0 30px;
    }

    .left{
        min-height: 400px;
    }

    #field{
        min-height: 700px;
    }

    .inner-text{
        height: auto;
    }

    .text{
        min-height: 200px;
    }

    .left,.right,.inner-content,.insite-content,.form-content,.footer-content{
        width: 100%;
        margin: 10px 0;
    }
    
    .form-area{
        min-height: 500px;
    }

    .footer-contents{
        padding: 20px;
        width: 90%;
        
    }

    .footer-content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .bottom{
        width: 90%;
    }
}